<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mvryan.courtcounterkotline">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Mendaftarkan activity di manifest-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/><!--dijalankan ketika Dimenu-->
                <category android:name="android.intent.category.LAUNCHER"/><!--dijalankan ketika Di HomeScreen-->
            </intent-filter>
        </activity>
    </application>
</manifest>
